html,
body {
    margin: 0;
    height: 100%;
}

#app {
    margin: 0;
    min-height: 100vh;
    height: auto;
}

#left {
    width: 15%;
    float: left;
    min-height: 100vh;
}

#center {
    /* width: 70%; */
    position: absolute;
    top: 60px;
    padding-bottom: 50px;
    width: 100%;
    min-height: calc(100vh - 100px);
}

h1 {
    text-align: left;
    margin-left: 5vw;
    display: block;
    font-size: clamp(18px, 6vw, 36px);
}

#menu {
    position: sticky;
    z-index: 5;
    display: block;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(38, 84, 116);
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(28, 60, 83);
    cursor: pointer;
}

.menu-button {
    z-index: 15;
    position: absolute;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin: 6px 6px;
}

.menu-icon {
    position: relative;
    cursor: pointer;
    width: 36px;
    height: 42px;
    margin: 0 auto;
    top: 6px;
}

.bar1,
.bar2,
.bar3 {
    width: 36px;
    height: 2px;
    left: 0;
    position: absolute;
    display: inline-block;
    background-color: #fff;
    transition: all 300ms cubic-bezier(0.3, 0.11, 0.62, 1.44);
}

.bar1 {
    top: 6px;
}

.bar2 {
    top: 16px;
    opacity: 1;
}

.bar3 {
    top: 26px;
}

.menu-icon.shrink .bar1 {
    top: 18px;
}

.menu-icon.shrink .bar2 {
    left: 0px;
    opacity: 0;
}

.menu-icon.shrink .bar3 {
    top: 18px;
}

.menu-icon.cross .bar1 {
    transform: rotate3d(0, 0, 1, 45deg);
}

.menu-icon.cross .bar2 {
    left: 0px;
}

.menu-icon.cross .bar3 {
    transform: rotate3d(0, 0, 1, -45deg);
}

.menu-settings {
    z-index: 10;
    position: fixed;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 100%);
    transition: all 600ms ease-in-out;
    overflow: hidden;
}

.menu-settings.open {
    overflow: hidden;
    top: 0;
}


























#element {
    font-size: clamp(2px, 2.5vw, 18px);
    width: 90%;
    height: 10vw;
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

#element th {
    border: 1px solid black;
    background-color: #92a8d1;
}

#element tr {
    border: 1px solid black;
}

#element td {
    border: 1px solid #aaa;
}

#molecule {
    font-size: clamp(2px, 2.5vw, 18px);
    width: 90%;
    height: 10vw;
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

#molecule th {
    border: 1px solid black;
    background-color: #92a8d1;
}

#molecule tr {
    border: 1px solid black;
}

#molecule td {
    border: 1px solid #aaa;
}

#ion {
    font-size: clamp(2px, 2.5vw, 20px);
    width: 90%;
    height: 20vw;
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

#ion th {
    border: 1px solid black;
    background-color: #92a8d1;
}

#ion tr {
    border: 1px solid black;
}

#ion td {
    border: 1px solid #aaa;
    width: 12.5%;
}

#precipitate {
    font-size: clamp(2px, 2.5vw, 18px);
    width: 90%;
    height: 25vw;
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

#precipitate th {
    border: 1px solid black;
    background-color: #92a8d1;
}

#precipitate tr {
    border: 1px solid black;
}

#precipitate td {
    border: 1px solid #aaa;
    width: 12.5%;
}













.menu-hard-container {
    vertical-align: middle;
    width: 100%;
    height: 200px;
}

#menu-content {
    width: 90%;
    height: 90%;
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-hard-switch-container {
    position: absolute;
    top: 30px;
    right: 30px;
}

.menu-description {
    position: relative;
    width: calc(100% - 150px);
    left: 25px;
    font-size: 36px;
    line-height: 30px;
    color: white;
    padding-right: 10px;
}

.menu-description span {
    width: calc(100% - 80px);
    display: block;
    content: "";
    position: absolute;
    top: 12px;
    bottom: 0;
    left: 80px;
    right: 0;
    height: 0.5em;
    border-top: 1px dashed white;
    z-index: -1;
}

.menu-definition {
    color: #aaa;
    font-size: 16px;
    position: absolute;
    left: 25px;
    line-height: 30px;
}

.menu-test-options-description span {
    width: calc(100% - 150px);
    left: 150px;
}

.switch-button {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.switch-button i {
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.switch-button i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.switch-button i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.switch-button:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.switch-button:active input:checked+i::after {
    transform: translate3d(16px, 2px, 0);
}

.switch-button input {
    display: none;
}

.switch-button input:checked+i {
    background-color: #4bd763;
}

.switch-button input:checked+i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.switch-button input:checked+i::after {
    transform: translate3d(22px, 2px, 0);
}





.test {
    margin-top: 15px;
    margin-left: 80px;
    padding: 16px 24px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #008CBA;
    color: white;
    border: none;
}

.test:hover {
    cursor: pointer;
    background-color: #88B04B;
    color: white;
}

.cancel {
    visibility: hidden;
    margin-top: 15px;
    margin-left: 10px;
    padding: 16px 24px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FF6F61;
    color: white;
    border: none;
}

.cancel:hover {
    visibility: hidden;
    cursor: pointer;
    background-color: #88B04B;
    color: white;
}

.results {
    visibility: hidden;
    margin-top: 30px;
    margin-left: 80px;
    padding: 16px 24px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #008CBA;
    color: white;
    border: none;
}

.results:hover {
    visibility: hidden;
    cursor: pointer;
    background-color: #88B04B;
    color: white;
}

.isTestRandomP {
    position: absolute;
    top: 300px;
    left: 25px;
    color: white;
    font-size: 24px;   
}

#isTestRandom {
    width: 50px;
    height: 50px;
    background-color: #eee;
    cursor: pointer;
}

#isTestRandom:hover{
    background-color: #ccc;
}